
<footer class="footer">
    <section class="footer-content">
        <section class="footer-left">
            <p>&copy; 2025 SAE Tracker – Tous droits réservés</p>
        </section>

        <section class="footer-right">
            <a href="/_assets/docs/Mentions%20légales%20-%20SAE%20Manager%20-%20mentions-legales.pdf" download="mentions-legales.pdf">
                Mentions légales
            </a>
            <a href="/_assets/docs/Plan%20du%20site%20-%20SAE%20Manager%20-%20plan-du-site.pdf" download>Plan du site</a>
            <a href="/contact">Contact</a>
        </section>
    </section>
</footer>

</body>
</html>