
<footer class="footer">
    <section class="footer-content" aria-label="Pied de page">
        <section class="footer-left" aria-label="Informations légales">
            <p>&copy; 2025 SAE Manager – Tous droits réservés</p>
        </section>

        <section class="footer-right" aria-label="Liens utiles">
            <a href="{{LEGAL_LINK_KEY}}">Mentions légales</a>
            <a href="{{PLAN_LINK_KEY}}">Plan du site</a>
            <a href="/contact">Contact</a>
        </section>
    </section>
</footer>

</body>
</html>