<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="/_assets/css/index.css">
    <link rel="shortcut icon" href="/_assets/img/favicon.ico" type="image/x-icon">
    <title>SAE Tracker</title>
</head>
<body>
<header class="header">
    <section class="header-content">
        <section class="logo">
            <h1 class="logo">
                <a href="/">📚 SAE Tracker</a>
            </h1>
            <p>Département Informatique - AMU</p>
        </section>
        <section class="user-info">
            <p>👤 {{USERNAME_KEY}}</p>
            <button class="btn btn-outline" onclick="logout()">
                <a href="{{LINK_KEY}}">Se connecter</a>
            </button>
        </section>
    </section>
</header>

<!-- Navigation -->
<nav class="nav">
    <ul class="nav-content">
        <li class="nav-item active" onclick="showSection('dashboard')">Tableau de bord</li>
        <li class="nav-item" onclick="showSection('saes')">Mes SAEs</li>
        <li class="nav-item" onclick="showSection('calendar')">Calendrier</li>
        <li class="nav-item" onclick="showSection('competences')">Compétences</li>
        <li class="nav-item" onclick="showSection('notifications')">Notifications</li>
    </ul>
</nav>
</body>

