<link rel="stylesheet" href="/_assets/css/inscription.css">
<form action="/src/Controllers/User/LoginPost.php" method="POST">
<fieldset>
    <legend>Connexion</legend>

    <label for="uname">Email :</label>
    <input type="email" id="uname" name="uname" required placeholder="exemple@etu.univ-amu.fr">

    <label for="psw">Mot de passe :</label>
    <input type="password" id="psw" name="psw" required placeholder="Votre mot de passe">

    <input type="submit" value="Se connecter" name="ok">

  </fieldset>
</form>
