<link rel="stylesheet" href="/_assets/css/form.css">
<form action="/user/login" method="post">
  <div class="imgcontainer">
    <img src="/_assets/img/img-avatar.jpeg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="{{USERNAME_KEY}}"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="{{USERNAME_KEY}}" required>

    <label for="{{PASSWORD_KEY}}"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="{{PASSWORD_KEY}}" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"><a href="/">Cancel</a> </button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

<?php
$servername = "adresse_du_serveur_bd";  // ex : 123.45.67.89 ou db.monsite.com
$username = "ton_user";
$password = "ton_mdp";
$dbname = "users_db";

// Créer la connexion
$conn = new mysqli($servername, $username, $password, $dbname);

// Vérifier la connexion
if ($conn->connect_error) {
die("Connexion échouée: " . $conn->connect_error);
}
echo "Connexion réussie !";
?>
